<h1>Update <%= @user.username.titleize %>'s Information: </h1>

<%= form_with model: @user do |form| %>
  <% if @user.errors.any? %>
    <h3><%= pluralize(@user.errors.count, "error") %> prevented this user from being saved</h3>
    <ul>
      <% @user.errors.each do |error| %>
        <li><%= error.full_message %></li>
      <% end %>
    </ul>
  <% end %>
  
  <%= form.label :username, "Edit Username: " %>
  <%= form.text_field :username, value: @user.username %>
  <br><br>

  <%= form.label :email, "Edit Email: " %>
  <%= form.email_field :email, value: @user.email %>
  <br><br>

  <%= form.label :password, "Edit Password: " %>
  <%= form.password_field :password, value: @user.password %>
  <br><br>
  
  <%= form.submit %>
<% end %>